!!! 5
html(lang='en')
head
    title Konvocate | Thread
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.container
      .row
        .six.columns
          h1
            a(href='/home') Konvocate
        .six.columns
          nav
            ul
              li
                a(href='#') Home
              li
                a(href='#') All Posts
              li
                a(href='#') Sign Out
    section.container
      .row
        .twelve.columns
          nav
            ul
              li
                a(href='#') Home
              li »
              li All Posts
          h2 All Posts
          hr
          .post
            p
              a(href='#a')
                | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
            span
              | Created by
              a(href='#') Name
              | at time.
            .comment
              p
                a(href='#') 123 Comments »
          .post
            p
              a(href='#a')
                | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
            span
              | Created by
              a(href='#') Name
              | at time.
            .comment
              p
                a(href='#') 123 Comments »
