<!DOCTYPE html>
<html lang="en">
<head>
	<title>Konvocate | Thread</title>
	
	<link rel="stylesheet" href="/stylesheets/grid.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<header class="container">
		<div class="row">
			<div class="six columns">
				<h1><a href="/home">Konvocate</a></h1>
			</div>
			<div class="six columns">
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">All Posts</a></li>
						<li><a href="#">Sign Out</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<section class="container">
		<div class="row">
			<div class="twelve columns">
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li>&raquo;</li>
						<li>All Posts</li>
					</ul>
				</nav>
				<h2>All Posts</h2>
				<hr>
				<div class="post">
					<p><a href="#a">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</a></p>
					<span>Created by <a href="#">Name</a> at time.</span>
					<div class="comment">
						<p><a href="#">123 Comments &raquo;</a></p>
					</div>
				</div>
				<div class="post">
					<p><a href="#a">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</a></p>
					<span>Created by <a href="#">Name</a> at time.</span>
					<div class="comment">
						<p><a href="#">123 Comments &raquo;</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>