!!! 5
html(lang='en')
head
    title Konvocate | Add Comment
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.container
      .row
        .six.columns
          h1
            a(href='/home') Konvocate
        .six.columns
          nav
            ul
              li
                a(href='/home') Home
              li
                a(href='/all') All Threads
              li
                a(href='/sign-out') Sign Out
    section.container
      .row
        .eight.columns.offset-by-two
          h2 Add Comment
          hr
          form(action='/add-comment/' + id, method='POST')
            table
              tr
                td
                  label(for='body') Body:
                td
                  textarea(id='body', rows='5', cols='50', name='body', placeholder='Say what you got to say.', maxlength='140', onkeyup="javascript:this.value=this.value.replace(/[<,>]/g,'');")
              tr
                td
                td
                  input(type='submit', name='add', value='Add Comment')