!!! 5
html(lang='en')
head
    title Konvocate | Home
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.container
      .row
        .six.columns
          h1
            a(href='/home') Konvocate
        .six.columns
          nav
            ul
              li
                a(href='#') Home
              li
                a(href='#') All Posts
              li
                a(href='#') Sign Out
    section.container
      .row
        .six.columns
          h2 New Posts
          hr
          .post
            p
              a(href='#a')
                | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
            span
              | Created by
              a(href='#') Name
              | at time.
            .comment
              p
                a(href='#') 123 Comments »
          .post
            p
              a(href='#a')
                | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
            span
              | Created by
              a(href='#') Name
              | at time.
            .comment
              p
                a(href='#') 123 Comments »
          .post
            p
              a(href='#a')
                | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
            span
              | Created by
              a(href='#') Name
              | at time.
            .comment
              p
                a(href='#') « Close Comments
              blockquote
                | Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
              span
                | -
                a(href='#') Name
                | , time.
              blockquote
                | Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
              span
                | -
                a(href='#') Name
                | , time.
        .six.columns
          h2 New Comments
          hr
          .comment
            blockquote
              | Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
            span
              | -
              a(href='#') Name
              | , time.
            aside
              a(href='#') View Post
          .comment
            blockquote
              | Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
            span
              | -
              a(href='#') Name
              | , time.
            aside
              a(href='#') View Post
          .comment
            blockquote
              | Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
            span
              | -
              a(href='#') Name
              | , time.
            aside
              a(href='#') View Post
