!!! 5
html(lang='en')
head
    title Konvocate
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.container
      .row
        .six.columns
          h1
            a(href='/') Konvocate
        .six.columns
          nav
            ul
              li
                a(href='/login') Login
              li
                a(href='/register') Register
    section.container
      .row
        .six.columns
          p Already have an account?
          a(href='/login')
            .begin Login
        .six.columns
          p Do not have an account?
          a(href='/register')
            .begin Register