<!DOCTYPE html>
<html lang="en">
<head>
  <title>Konvocate</title>
  
  <link rel="stylesheet" href="/stylesheets/grid.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header class="container">
    <div class="row">
      <div class="six columns">
        <h1>Konvocate</h1>
      </div>
      <div class="six columns">
        <nav>
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <section class="container">
    <div class="row">
      <div class="six columns">
        <p>Already have an account?</p>
        <a href="/login"><div class="begin">Login</div></a>
      </div>
      <div class="six columns">
        <p>Do not have an account?</p>
        <a href="/register"><div class="begin">Register</div></a>
      </div>
    </div>
  </section>