<!DOCTYPE html>
<html lang="en">
<head>
	<title>Konvocate | Thread</title>
	
	<link rel="stylesheet" href="/stylesheets/grid.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<header class="container">
		<div class="row">
			<div class="six columns">
				<h1><a href="/home">Konvocate</a></h1>
			</div>
			<div class="six columns">
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">All Posts</a></li>
						<li><a href="#">Sign Out</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<section class="container">
		<div class="row">
			<div class="twelve columns">
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li>&raquo;</li>
						<li>Thread</li>
					</ul>
				</nav>
				<div class="post">
					<h3><a href="#a">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</a></h3>
					<article>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
					</article>
					<span>Created by <a href="#">Name</a> at time.</span>
					<div class="comment">
						<h4>Comments:</h4>
						
						<blockquote>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</blockquote>
						<span> - <a href="#">Name</a>, time.</span>
						
						<blockquote>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</blockquote>
					<span> - <a href="#">Name</a>, time.</span>
					</div>
				</div>
			</div>
		</div>
	</section>