body
{
color: #242424;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
margin: 0;
padding: 0 0 60px 0;
}

header
{
background: #242424;
color: #fff;
margin: 0 0 40px 0;
}

a:link, a:visited
{
text-decoration: none;
}

a:link {color: #0084ff;}
a:visited {color: #376591;}
a:hover {color: #EA2E49;}
a:active {color: #77C4D3;}

header nav a:link, header nav a:visited
{
color: #ccc;
text-decoration: none;
}

header nav a:hover, header nav a:active {color: #fff;}
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {color: #fff;}

nav ul
{
list-style: none;
padding: 0;
margin: -20px 0 20px 0;
}

nav li
{
color: #777;
display: inline;
padding: 0 6px 0 0;
margin: 0;
}

header nav ul
{
float: right;
margin: 30px 0 0 0;
}

header nav ul li
{
display: inline;
margin: 0 0 0 10px;
}

.begin
{
background: #0084ff;
text-align: center;
color: #fff;
font-weight: bold;
width: 120px;
height: 60px;
padding: 20px 0 0 0;
display: inline-block;

-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

	.begin a:link, .begin a:visited
	{
	text-decoration: none;
	}
	
h1, h2, h3, h4, h5, h6 {font-family: Futura, "Trebuchet MS", Arial, sans-serif;}
h2, h3, h4 {color: #444;}

h2 {font-size: 16px;}
h3 {font-size: 16px; margin: 0; padding: 0;}

hr
{
height: 1px;
border: 1px solid #777;
margin: -4px 0 20px 0;
}

.post
{
margin: 0 0 14px 0;
}

	.post p
	{
    font-size: 16px;
    font-weight: bold;
	padding: 0;
	margin: 4px 0;
	}

	.post span
	{
	color: #555;
	font-size: 12px;
	padding: 0 0 4px 0;
	}
    
    .post article p
    {
    font-size: 14px;
    font-weight: normal;
    }
	
.comment
{
font-size: 12px;
padding: 0 0 6px 0;
border-bottom: 1px solid #ccc;
margin: 6px 0 6px 0;
}

	.comment span
	{
	margin: 0 0 10px 20px;
	}

blockquote
{
color: #555;
padding: 0 0 0 6px;
border-left: 2px solid #ddd;
margin: 10px 0 4px 20px;
}

aside
{
text-align: right;
}

article
{
padding: 6px 0;
}

.newThread
{
height: 1000px;
padding: 0;
list-style: none;
word-wrap: break-word;
overflow: hidden;
}

    .newThread .post
    {
    word-wrap: break-word;
    }

.newComment
{
height: 1000px;
padding: 0;
list-style: none;
word-wrap: break-word;
overflow: hidden;
}

    .newComment .comment
    {
    word-wrap: break-word;
    }
    
    .newComment span
    {
    color: #777;
    font-size: 12px;
    font-weight: normal;
    }

.right
{
margin: -26px 0 0 0;
float: right;
}    
    
/* ------- Forms ------- */

input[type=text]
{
width: 200px;
padding: 2px 4px;
margin: 0 0 4px 0;
}

input[type=submit]
{
background: #0084ff;
color: #fff;
font-weight: bold;
padding: 4px;
border: none;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

label
{
padding: 0 20px 0 0;
}